In [20]:
#fundamentals
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st

#data files
scores = "Datasets/superbowl.csv"
ads = "Datasets/superbowl-ads.csv"

#data reads
score_df = pd.read_csv(scores)
ad_df = pd.read_csv(ads)

#displaying data table for preview
ad_df

,index,year,brand,superbowl_ads_dot_com_url,youtube_url,Genre,funny,show_product_quickly,patriotic,celebrity,danger,animals,use_sex,likes,dislikes,ratio,theme,theme 2,altruistic/consumerist
0,0,2018,Toyota,https://superbowl-ads.com/good-odds-toyota/,https://www.youtube.com/watch?v=zeBZvwYQ-hA,Automotive,False,False,False,False,False,False,False,1400.0,43.0,97.02%,inspirational,paralympics,altruistic
1,1,2020,Bud Light,https://superbowl-ads.com/2020-bud-light-seltz...,https://www.youtube.com/watch?v=nbbp0VW7z8w,Beer,True,True,False,True,True,False,False,1200.0,26.0,97.88%,shopping,NaN,consumerist
2,2,2006,Bud Light,https://superbowl-ads.com/2006-bud-light-bear-...,https://www.youtube.com/watch?v=yk0MQD5YgV8,Beer,True,False,False,False,True,True,False,131.0,16.0,89.12%,NaN,NaN,consumerist
3,3,2018,Hynudai,https://superbowl-ads.com/hope-detector-nfl-su...,https://www.youtube.com/watch?v=lNPccrGk77A,Automotive,False,True,False,False,False,False,False,2.0,0.0,100.00%,inspirational,NaN,awareness
4,4,2003,Bud Light,https://superbowl-ads.com/2003-bud-light-hermi...,https://www.youtube.com/watch?v=ovQYgnXHooY,Beer,True,True,False,False,True,True,True,20.0,0.0,100.00%,NaN,NaN,consumerist
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239,239,2014,NFL,https://superbowl-ads.com/nfl-now/,NaN,Football,False,True,False,False,False,False,False,NaN,NaN,NaN,informative,NaN,consumerist
240,240,2012,Budweiser,https://superbowl-ads.com/2012-budweiser-etern...,https://www.youtube.com/watch?v=_GeiOdHsW_8,Beer,False,True,True,False,False,True,True,598.0,101.0,85.55%,NaN,NaN,consumerist
241,241,2001,Pepsi,https://superbowl-ads.com/2001-pepsi-kasparov-...,https://www.youtube.com/watch?v=pldGc0Cpf84,Soft Drink,True,False,False,True,True,False,False,21.0,0.0,100.00%,chess,NaN,consumerist
242,242,2001,E-Trade,https://superbowl-ads.com/2001-etrade-security...,https://www.youtube.com/watch?v=39BL7iqe6pQ,Trading,True,False,False,False,True,False,False,14.0,5.0,73.68%,NaN,NaN,consumerist
243,243,2001,Budweiser,https://superbowl-ads.com/2001-budweiser-nsync/,https://www.youtube.com/watch?v=H9YdunAo3Ug,Beer,False,False,False,True,False,False,False,360.0,5.0,98.63%,family,NaN,altruistic

In [21]:
#grabbing all unique genres
themes = ad_df.Genre.unique()
print(themes)

#also removing non_data columns from df for readability
ad_df.drop('superbowl_ads_dot_com_url', inplace=True, axis=1)
ad_df.drop('youtube_url', inplace=True, axis=1)
ad_df.drop('index', inplace=True, axis=1)

['Automotive' 'Beer' 'Soft Drink' 'Football' 'Chips' 'Trading']

In [22]:
#sorting
ad_df = ad_df.sort_values(by=['year'])

In [26]:
#getting list of altruistic ads and consumerist ads
alt_ads = ad_df.loc[ad_df['altruistic/consumerist'] == 'altruistic']
con_ads = ad_df.loc[ad_df['altruistic/consumerist'] == 'consumerist']
alt_ads

,year,brand,Genre,funny,show_product_quickly,patriotic,celebrity,danger,animals,use_sex,likes,dislikes,ratio,theme,theme 2,altruistic/consumerist
243,2001,Budweiser,Beer,False,False,False,True,False,False,False,360.0,5.0,98.63%,family,NaN,altruistic
102,2014,Budweiser,Beer,False,False,True,False,False,True,False,NaN,NaN,NaN,together,NaN,altruistic
78,2016,Budweiser,Beer,False,True,False,True,False,False,False,NaN,NaN,NaN,informative,NaN,altruistic
88,2017,Hynudai,Automotive,False,False,True,False,False,False,False,NaN,NaN,NaN,together,NaN,altruistic
54,2017,Kia,Automotive,True,False,False,True,True,True,False,NaN,NaN,NaN,inspirational,NaN,altruistic
0,2018,Toyota,Automotive,False,False,False,False,False,False,False,1400.0,43.0,97.02%,inspirational,paralympics,altruistic
107,2018,Budweiser,Beer,False,False,True,False,False,False,False,176.0,10.0,94.62%,together,informative,altruistic
96,2019,Budweiser,Beer,False,False,False,False,False,True,False,NaN,NaN,NaN,together,NaN,altruistic

In [27]:
alt_ads_mean = alt_ads["ratio"].mean()
alt_ads_mean

TypeError: can only concatenate str (not "int") to str